- name: enable bluetooth service
  when: bluetooth|default(false)|bool
  shell: ln -s /etc/sv/bluetoothd /var/service

- name: enable thermald service
  when: laptop|default(false)|bool
  shell: ln -s /etc/sv/thermald /var/service

- name: create custom xdg dir
  become: no
  shell: mkdir ~/.xdg-override